@model IEnumerable<IEProject_AfterIteration1.Models.Housing>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrimeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buy_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupermarketNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormRent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormSchools)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormCrime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormHospital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormSupermarket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormStation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrimeNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buy_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupermarketNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormRent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormSchools)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormCrime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormHospital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormSupermarket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormStation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
